<h3>Depositar valor</h3>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
    <label>quantidade a depositar</label>
    <input type="text" class="form-control" ng-model="novaConta.saldo">
  </div>
</div>

<div style="margin-top: 15px">
  <button  type="button" ng-click="depositar(depositarConta)" class="btn btn-primary">Depositar dinheiro</button>

  <a ui-sref="listaContas" class="btn btn-default">
    <i class="glyphicon glyphicon-hand-left"></i>
    Voltar
  </a>
</div>
