<h3>Cadastrar Contas</h3>
<div class="row">
  <div class="col-md-12">
    <label>Nome do titular</label>
    <input type="text" class="form-control" ng-model="novaConta.nome">
  </div>

  <div class="col-md-12">
    <label>cpf</label>
    <input type="text" class="form-control" ng-model="novaConta.cpf">
  </div>

  <div class="col-md-12">
    <label>email</label>
    <input type="text" class="form-control" ng-model="novaConta.email">
  </div>

  <div class="col-md-12">
    <label>saldo</label>
    <input type="text" class="form-control" ng-model="novaConta.saldo">
  </div>
</div>

<div style="margin-top: 15px">
  <button  type="button" ng-click="salvarNovaConta(novaConta)" class="btn btn-primary">Salvar conta</button>
  <button  type="button" ng-click="limparCampos()" class="btn btn-primary">Limpar campos</button>
  <a ui-sref="listaContas" class="btn btn-default">
    <i class="glyphicon glyphicon-hand-left"></i>
    Voltar
  </a>
</div>
