<h3>Cadastrar produtos</h3>
<div class="row">
  <div class="col-md-12">
    <label>Nome do Produto</label>
    <input type="text" class="form-control" ng-model="novoProduto.nome">
  </div>

  <div class="col-md-12">
    <label>Código do produto</label>
    <input type="text" class="form-control" ng-model="novoProduto.codigo">
  </div>

  <div class="col-md-12">
    <label>Quantidade</label>
    <input type="text" class="form-control" ng-model="novoProduto.quant">
  </div>

  <div class="col-md-12">
    <label>Disponivel</label>
    <input type="text" class="form-control" ng-model="novoProduto.dispo">
  </div>
</div>

<div style="margin-top: 15px">
  <button  type="button" ng-click="salvarNovoProduto(novoProduto)" class="btn btn-primary">Salvar produto</button>
  <button  type="button" ng-click="limparCampos()" class="btn btn-primary">Limpar campos</button>
  <a ui-sref="listaProdutos" class="btn btn-default">
    <i class="glyphicon glyphicon-hand-left"></i>
    Voltar
  </a>
</div>
