<h3>Cadastrar novo Produto</h3>
  <div class="row">
    <div class="col-md-12">
      <label>Nome do Produto</label>
      <input type="text" class="form-control" ng-model="novoProduto.nome">
    </div>

    <div class="col-md-12">
      <label>Código do Produto</label>
      <input type="text" class="form-control" ng-model="novoProduto.codigo">
    </div>

    <div class="col-md-12">
      <label>Quantidade do Produto</label>
      <input type="text" class="form-control" ng-model="novoProduto.quantidade">
    </div>

    <div class="col-md-12">
      <label>Produto Disponivel</label>
      <br>
        Sim: <input type="radio" value="sim" ng-model="novoProduto.disponivel">
        Não: <input type="radio" value="não" ng-model="novoProduto.disponivel">
    </div>
  </div>

  <div style="margin-top: 15px">
    <button type="button" ng-click="salvarNovoProduto(novoProduto)" class="btn btn-primary">Salvar Produto</button>
    <button type="button" ng-click="limparCampos()" class="btn btn-primary">Limpar Campos</button>
    <a ui-sref="listaProdutos" class="btn btn-default">
      <i class="glyphicon glyphicon-hand-left"></i>
        Voltar
    </a>
  </div>
