<h3>Tranferir</h3>
<div class="row">

  <div class="col-md-12">
    <div class="col-md-12">
    <label>valor a transferir</label>
    <input type="text" class="form-control" ng-model="novaContaBancaria.saldo">
  </div>
  <div class="col-md-12">
  <label>conta destinatario</label>
  <input type="text" class="form-control" ng-model="novaConta.saldo">
</div>
</div>

<div style="margin-top: 15px">
  <button  type="button" ng-click="" class="btn btn-primary">transferir dinheiro</button>

  <a ui-sref="listaDeContasBancarias" class="btn btn-default">
    <i class="glyphicon glyphicon-hand-left"></i>
    Voltar
  </a>
</div>
