body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}

a {
  color: #00B7FF;
}

.sobre-linha {
  cursor: pointer;
}
.selecionado {
  background-color: gray;
}